<div class="price_details">
  <dl>
    <dt>
      <% if workshop_price.price %>
        <span class="price"><%= humanized_money_with_symbol workshop_price.price %></span>&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
      <% end %>
      <% unless workshop_price.price_description.blank? %>
        <span class='price_description'><%= workshop_price.price_description %></span>
      <% end %>
    </dt>
    <% unless workshop_price.sub_description.blank? %>
      <dd class="sub_description"><%= workshop_price.sub_description %></dd>
    <% end %>
    <% unless workshop_price.valid_until.nil? %>
      <dd class='expires'>Expires: <span><%= format_date(workshop_price.valid_until) %></span></dd>
    <% end %>
  </dl>
</div>
