<h2><%= I18n.t('ems.choose_payment_method') %></h2>
<br /><br />
<div class="payment_choice">
  <% payment_service_for @registration.receipt_code, current_account.preferred_paypal_merchant_id,
          :amount => @registration.price.amount, :currency => 'EUR',
          :service => :paypal do |service|

      service.customer :first_name => @registration.first_name,
          :last_name => @registration.last_name,
          :phone => '',
          :email => @registration.email
      service.item_name @registration.workshop.title
      service.invoice "INV-#{@registration.receipt_code}"
      service.tax '0.00'

      #service.notify_url url_for(:only_path => false, :action => 'payments_notify')
      service.return_url dm_event.register_success_url(@registration.receipt_code)
      service.cancel_return_url url_for(only_path: false, action: 'payment_abandoned', receipt_code: @registration.receipt_code) %>

      <!-- display payment summary here -->
      <% if locale == :de %>
        <%= submit_tag '', type: :image, src: "https://www.paypal.com/de_DE/DE/i/btn/btn_xpressCheckout.gif" %>
      <% else %>
        <%= submit_tag '', type: :image, src: "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" %>
      <% end %>
  <% end %>
</div>