<h2>DmCore Testing</h2>

<ul>
  <li>Current Locale: <%= DmCore::Language.locale %> (<%= DmCore::Language.get_language(DmCore::Language.locale).english_name %>)</li>
  <li>Flag: <%= link_to image_tag(DmCore::Language.flag_image(DmCore::Language.locale)), DmCore::Language.flag_image(DmCore::Language.locale) %></li>
</ul>