<div class="formRow">
  <div class='grid3'>
    <label for="<%= options[:for] %>"><%= options[:label] %></label>
  </div>
  <div class='grid9'>
    <%= content %><span class="note"><%= options[:hint] %></span>
  </div>
  <div class='clear'></div>
</div>
