.DS_Store
.bundle
**/*.log
*.sqlite3
pkg
tmp
Gemfile.lock
sandbox/*
*/.sass-cache
.ruby-version
.byebug_history
.idea
admin/spec/dummy
core/spec/dummy
cms/spec/dummy
event/spec/dummy
forum/spec/dummy
newsletter/spec/dummy
