<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title><%= page_title %></title>
</head>
<body>
  <%= content_by_name :body %>
</body>
</html>
