<% content_for :content_title, 'Initial Setup' %>
<p>Welcome to MokshaCMS!</p>
<p>In order to continue, we need to create the System Administrator account.  This account will have access to all features across all sites.</p>

<%= link_to 'Start Setup', admin_setup_step1_path, class: 'btn btn-success' %>