<%= render :partial => 'dm_core/admin/dashboard/index_sidebar' %>

<div class="row-fluid">
  <%= render partial: 'dm_core/admin/dashboard/widget_recent_new_users' %>

  <%= render partial: 'dm_core/admin/dashboard/widget_recent_user_activity' %>
</div>