/* @override 
	http://dev.telugubasha.net:3000/assets/dm_core/admin.css?body=1
	http://dev.srikaleshwarancientknowledgeschool.com:3000/assets/dm_core/admin.css?body=1 */

.tree_open > dl dt a.tree_expand, .tree_closed > dl dt a.tree_expand {
  text-indent: -6000px;
  height: 16px;
  width: 16px;
  display: block;
  margin: 2px auto 0 auto !important;
  background-image: url(/assets/dm_core/expand.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -8px;
}

.tree_closed > dl dt a.tree_expand {
  background-position: -16px 0;
}

.tree_closed > dl dt a.tree_expand:hover {
  background-position: -16px -16px;
}

.tree_closed > dl dt a.tree_expand:active {
  background-position: -16px -32px;
}

.tree_open > dl dt a.tree_expand {
  background-position: 0 -32px;
}

.tree_open > dl dt a.tree_expand:hover {
  background-position: 0 -16px;
}

.tree_open > dl dt a.tree_expand:active {
  background-position: 0 0;
}

#tree_sort .dropzone { 
  border-left: 1px solid #ddd;
  height: 6px;
  border-bottom: 1px solid transparent;
}
#tree_sort {
  display: block;
  margin-bottom: 30px;
  margin-right: 15px;
  list-style: none;
}
#tree_sort ul {
  list-style: none;
}
#tree_sort li {
  display: block;
  clear: both;
  padding: 0 0 0 15px;
  margin: 0;
}
#tree_sort dl {
  position: relative;
  display: block;
  border-left: 1px solid #ddd;
  height: 23px;
}
#tree_sort li.root > dl, #tree_sort li.root > .dropzone {
  border-left: 1px solid transparent;
}
#tree_sort dt {
  float: left;
  font-size: 1.1em;
  margin-left: 10px;
  font-weight: normal;
  font-style: normal;
}
#tree_sort dd {
  float: right;
}

#tree_sort dl:hover dd, #tree_sort dd:hover {
  display: block;
}
#tree_sort dd strong {
  display: none;
}
#tree_sort a {
  border: none;
}

div.ace_editor {
  border: 1px solid #ddd;
}