<ul class="block sidebar-links">
    <li class="active"><a href="#" title=""><i class="icon-cog icon-white"></i>Lorem ipsum dolor sit amet</a></li>
    <li><a href="#" title=""><i class="icon-wrench icon-white"></i>Vestibulum eget posuere</a></li>
    <li><a href="#" title=""><i class="icon-camera icon-white"></i>Nulla aliquet posuere diam</a></li>
    <li><a href="#" title=""><i class="icon-comment icon-white"></i>Nulla vel pellentesque</a></li>
</ul>
