<% toolbar = nav_bar_items([ link_to(icon_label('icon-plus', 'New'), new_admin_workshop_path, :title => 'New Workshop', :class => "nav-btn-primary") ]) %>
<%= content_frame :title => 'Workshops', :toolbar => toolbar do %>
  <div class="table-overflow">
    <table class="table table-striped table-bordered table-block">
      <thead>
        <tr>
          <th>Title</th>
          <th width="150">Date</th>
        </tr>
      </thead>
      <tbody>
        <% @workshops.each do |workshop| %>
          <% present workshop do |workshop_presenter| %>
            <tr class="item" data-item_id="<%= workshop.id %>">
              <td>
                <%= link_to workshop.title, [:admin, workshop] %>
              </td>
              <td><%= workshop_presenter.start_end_date %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>