<%= content_frame :title => 'Registrations' do %>
  <div class="table-overflow">
    <table id="registration_table" class="table table-striped table-bordered table-block" data-source="<%= dm_event.admin_workshop_url(@workshop) %>">
      <thead>
        <tr>
          <th width=75>Receipt</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= link_to 'Edit Workshop', edit_admin_workshop_url(@workshop), :class => "action-button blue" %>
<% end %>

