<div class="pull-right">
  <% if contentitem_list.count > 1 %>
    <span class="sort_handle" style="margin-right: 10px;"></span>
  <% end %>
  <%= link_to icons(:edit), [:edit, :admin, contentitem], class: "btn btn-xs btn-default" %>
</div>
