<%= render :partial => 'index_sidebar' %>

<div class="block well">
  <div class="table-overflow">
    <table id="drag_sort" class="table table-striped table-bordered table-block" data-update_url="<%#= dm_lms.admin_course_sort_path %>">
  		<thead>
  		  <tr>
  		    <th>Title</th>
  		    <th width="50">Status</th>
  		    <th width="100">Actions</th>
  		  </tr>
  		</thead>
  		<tbody>
        <%= nested_tree(@tree) %>
  		</tbody>
  	</table>
  </div>
</div>
