<% if is_admin? -%>
  <div class="fragment" id="fragment_<%= content_fragment.id %>">
    <%= render_content_item(content_fragment) %>
  </div>
<% elsif content_fragment.enable_cache -%>
  <% cache("page/#{DmCore::Language.locale}/#{content_fragment.cms_page_id}/fragment/#{content_fragment.container}_#{content_fragment.id}" ) do -%>
    <%= render_content_item(content_fragment) %>
  <% end -%>
<% else -%>
    <%= render_content_item(content_fragment) %>
<% end -%>
