<ul class="forum_list">
  <% @forums.each do |forum| %>
    <li>
      <%= render(:partial => 'forum_header', :object => forum, :as => :forum) %>

      <p class="forum_description"><%= forum.description %></p>
    </li>
  <% end %>
</ul>