<!-- Footer -->
<div class="footer clearfix">
  <div class="pull-left">&copy; <%= Time.now.year %></div>
  <div class="pull-right icons-group">
    <%= link_to icons('icon-screen2'), dm_core.admin_dashboard_path %>
  </div>
</div>
<!-- /footer -->
