<nav>
  <ul id="profile_menu_list">
    <li><%= link_to I18n.t('core.profile_account_settings'), dm_core.edit_profile_account_path %></li>
    <li><%= link_to I18n.t('core.profile_details_settings'), dm_core.edit_profile_details_path %></li>
  </ul>
</nav>