<% toolbar = toolbar_btn(User.current_account_users.count, dm_core.admin_users_path, title: 'Number of registered users', class: 'label label-success') %>
<%= panel title: 'Recent New Users', toolbar: toolbar, body: false do %>
  <div class="table-overflow">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Registered On</th>
          <th>Last Login</th>
        </tr>
      </thead>
      <tbody>
        <% User.current_account_users.order('user_site_profiles.created_at DESC').limit(5).each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td align="center"><%= "#{time_ago_in_words(user.created_at)} ago" %></td>
            <td align="center"><%= present(user).last_access %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
