<p><%= I18n.t('core.unlock_email_1', value: @resource.email) %></p>

<p><%= I18n.t('core.unlock_email_2') %></p>

<p><%= I18n.t('core.unlock_email_3') %></p>

<p><%= link_to I18n.t('core.unlock_email_link'), Account.current.url_base + unlock_path(@resource, :unlock_token => @resource.unlock_token, :locale => DmCore::Language.locale), class: 'button' %></p>
