/*------------------------------------------------------------------------------
  NOTE: Theme specific file
------------------------------------------------------------------------------*/

/*
 *= require _mbus/stylesheets/bootstrap.css
 *= require _mbus/stylesheets/modern-business.css
 *= require _mbus/stylesheets/font-awesome-4.1.0/css/font-awesome.min.css
*/

.fb_iframe_widget, iframe.twitter-share-button {
  float: left;
  margin-right: 15px;
}
